# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# misc
.DS_Store
npm-debug.log*
/.idea/
/src/_server/node_modules/
/src/_server/package-lock.json
/package-lock.json
